.mybar{
    width: 100%;
    height: 40px;
    /*background: yellow;*/
    margin-top: 50px;
}
.mybar a:nth-of-type(2){
    font-size: 16px;
    font-family: '黑体';
    width: 120px;
    color: red;
}
.mybar span:nth-of-type(1){
    font-size: 8px;
}
.mybar button:nth-of-type(2){
    width: 120px;
    height: 30px;
    padding-right: 50px;
    border: 1px white solid;
    margin-right: -50px;
    border-radius: 30px;
    float:right;
}
.youbar{
    width: 100%;
    height: 80px;
    /*background: white;*/
    position: absolute;
    top:120px;
}
.youbar button{
    width: 30%;
    margin-top: -8px;
}
.hebar{
    width: 90%;
    background: white;
    margin-left: 5%;
    z-index: 99;
    position: absolute;
    box-shadow: 0 1px 1px gray;
    border-radius: 5px;
    top:170px;
    display: flex;
    justify-content: space-between;
}
.hebar button{
    width: 50%;
    height: 15px;
}
.shebar{
    width: 90%;
    height: 80px;
    background: white;
    margin-left: 5%;
    position: absolute;
    z-index: 100;
    box-shadow: 0 0 2px .5px gray;
    border-radius: 3px;
    top:230px;
    display: flex;
    justify-content: space-between;
}
.shebar .button{
    width: 25%;
    height: 80px;
}
.backdrop{
    pointer-events: none;
}